html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.banner {
  max-height: 500px;
  width: 100%;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3rem;
  color: #000;
}

p {
  font-size: 1.5rem;
}

.btn {
  display: inline-block;
  padding: .75em;
  padding-bottom: .75em;
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  border: 3px solid #333;
  font-size: 1.125rem;
  text-decoration: none;
}
